apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: vehicle-telemetry
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
      - name: api
        image: vehicle-api:latest
        ports:
        - containerPort: 5000
        env:
        - name: MONGO_URI
          value: mongodb://mongo:27017/vehicle
